@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Zilla+Slab:wght@300;700&display=swap");
.body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
section {
  width: 100%;
  height: 90vh;
  background: #1b2430;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
section::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: #fff;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}
.header {
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  margin: auto;
  max-width: 1980px;
}

.navbar {
  display: flex;
  padding: 4% 14%;
  justify-content: space-between;
  align-items: center;
  background: #1b2430;
}
.logo a img {
  width: 70px;
}

.nav ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav ul li a {
  color: #fff;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}
.nav ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #e84545;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav ul li:hover::after {
  width: 100%;
}
.nav .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.logo a {
  display: flex;
  justify-content: space-between;
  margin: auto;
  text-decoration: none;
}
.logo span {
  text-decoration: none;
  font-family: "Zilla Slab", sans-serif;
  color: #fff;
  padding: 0 10px;
}
#cloud {
  font-size: 40px;
  font-weight: bold;
}
#company {
  font-size: 40px;
}
.hero {
  margin-top: 50px;
}
.hero h1 {
  font-family: "Zilla Slab", sans-serif;
  font-size: 65px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
.hero h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: #cfd320;
  text-align: center;
  margin-top: -40px;
  align-items: center;
}
.hero p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  text-align: center;
  line-height: 25px;
}
