@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
section {
  height: 100%;
  width: 100%;
}
.first {
  height: 100%;
  width: 100%;
}
/*Navbar css start*/
.navbar {
  display: flex;
  padding: 2% 16%;
  justify-content: space-between;
  align-items: center;
  background: #152130;
  /* z-index: 5; */
}
.logo a img {
  width: 70px;
}

.nav ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav ul li a {
  color: #fff;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}
.nav ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #e84545;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav ul li:hover::after {
  width: 100%;
}
.nav .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.logo a {
  display: flex;
  justify-content: space-between;
  margin: auto;
  text-decoration: none;
}
.logo span {
  text-decoration: none;
  font-family: "Zilla Slab", sans-serif;
  color: #fff;
  padding: 0 10px;
}
#cloud {
  font-size: 40px;
  font-weight: bold;
}
#company {
  font-size: 40px;
}
/*Navbar css end*/
/*hero section start*/
.first {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  background: #1b2430;
  box-sizing: border-box;
  /* margin-top: -20px; */
  /* transform: skew(0deg, -10deg) translateY(-120px); */
}
.hero h1 {
  margin-top: -120px;
  font-family: "Zilla Slab", sans-serif;
  font-size: 65px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  /* transform: skew(0deg, 10deg) translateY(120px); */
}
.hero h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: #cfd320;
  text-align: center;
  margin-top: -40px;
  align-items: center;
  /* transform: skew(0deg, 10deg) translateY(120px); */
}
.hero p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  text-align: center;
  line-height: 25px;
  /* transform: skew(0deg, 10deg) translateY(120px); */
}
/*hero section end*/
/*2nd block start*/
.second {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: -100px;
  padding-left: 215px;
  padding-right: 215px;
  width: 100%;
  box-sizing: border-box;
}
.card {
  margin: 15px;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s; */
  /* border-radius: 5px; */
  /* background: brown; */
}
.second .card .ico i {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  font-size: 50px;
  box-sizing: border-box;
  background-color: #28ce24;
  color: #fff;
  align-items: center;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
}
.second .card .des h3 {
  text-transform: uppercase;
  color: #28ce24;
  padding-top: 20px;
}
.second .card .des i {
  color: #28ce24;
  font-size: 25px;
  padding-top: 20px;
}
.second .card .des p {
  color: #878b8e;
}
/* 3rd block start  */
.third {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 40px 0 230px 230px;
  text-transform: capitalize;
}
.third h1 {
  font-family: "Zilla Slab", sans-serif;
  font-size: 90px;
}
.third h1 span {
  color: #cfd320;
}
.third p {
  font-size: 40px;
  font-weight: bold;
  color: #878b8e;
}
/* 3rd block end  */
/* 4th block start  */
.forth {
  margin-top: -100px;
  width: 100%;
  height: 500px;
  box-sizing: border-box;
  background: #28ce24;
}
.zeroo {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  height: 100%;
  margin-top: 90px;
  box-sizing: border-box;
  padding-left: 190px;
  padding-right: 190px;
}
.one {
  width: 33.3%;
  margin-top: -150px;
}
.zeroo .one:nth-child(2) {
  margin-left: 100px;
  margin-right: 100px;
}
.one h1 {
  font-size: 120px;
}
.one h3 {
  margin-top: -50px;
  font-size: 40px;
  color: #fff;
}
.one p {
  font-size: 22px;
  color: #fff;
}
.one a {
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #28ce24;
  background-color: #fff;
  padding: 6px;
}
.one a:hover {
  background-color: #d3a511;
  color: #fff;
}
/* fifth block start */
.projects {
  box-sizing: border-box;
  width: 100%;
  padding: 130px;
}
.latest {
  text-align: center;
  line-height: 10px;
}
.latest h2 {
  font-family: "Zilla Slab", sans-serif;
  font-size: 94px;
  text-transform: capitalize;
}
.latest h2 span {
  color: #d1d21f;
}
.latest p {
  font-size: 34px;
  color: rgb(148, 148, 148);
}
.imgl {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-content: center;
  margin-top: 90px;
}
.imgl img {
  width: 500px;
}
.lproject {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  margin-top: 40px;
}
.lproject h4,
ul li {
  font-family: "Zilla Slab", sans-serif;
}
.lproject .cloud {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}
.lproject .cloud h4 {
  font-size: 40px;
  color: #29ace4;
  margin-bottom: 10px;
}
.lproject .cloud p {
  font-size: 21px;
  text-align: left;
}
.lproject .host {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}
.lproject .host h4 {
  font-size: 40px;
  color: #28ce24;
  margin-bottom: 10px;
}
.lproject .host p {
  font-size: 21px;
  text-align: left;
}
.lproject .secur {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}
.lproject .secur h4 {
  font-size: 40px;
  color: #cfd21f;
  margin-bottom: 10px;
}
.lproject .secur p {
  font-size: 21px;
  text-align: left;
}
.lproject .back {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}
.lproject .back h4 {
  font-size: 40px;
  color: #d3a511;
  margin-bottom: 10px;
}
.lproject .back p {
  font-size: 21px;
  text-align: left;
}

.llproject {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}
.llproject .cloud {
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  width: 25%;
}
.llproject .cloud ul {
  display: flex;
  list-style: none;
  margin-left: -45px;
}
.llproject .cloud ul li {
  font-size: 30px;
  margin-left: 8px;
  margin-right: 8px;
}
.llproject .cloud ul li:nth-child(3) {
  color: #29ace4;
}
.llproject .cloud p {
  font-size: 21px;
}
.llproject .host {
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  width: 25%;
}
.llproject .host ul {
  display: flex;
  list-style: none;
  margin-left: -45px;
}
.llproject .host ul li {
  font-size: 30px;
  margin-left: 8px;
  margin-right: 8px;
}
.llproject .host ul li:nth-child(3) {
  color: #28ce24;
}
.llproject .host p {
  font-size: 21px;
}

.llproject .secur {
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  width: 25%;
}
.llproject .secur ul {
  display: flex;
  list-style: none;
  margin-left: -45px;
}
.llproject .secur ul li {
  font-size: 30px;
  margin-left: 8px;
  margin-right: 8px;
}
.llproject .secur ul li:nth-child(3) {
  color: #cfd21f;
}
.llproject .secur p {
  font-size: 21px;
}
.llproject .back {
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  width: 25%;
}
.llproject .back ul {
  display: flex;
  list-style: none;
  margin-left: -45px;
}
.llproject .back ul li {
  font-size: 30px;
  margin-left: 8px;
  margin-right: 8px;
}
.llproject .back ul li:nth-child(3) {
  color: #28ce24;
}
.llproject .back p {
  font-size: 21px;
}
/* fifth block end  */
/* footer start  */
.footer {
  display: flex;
  padding: 2% 16%;
  justify-content: space-between;
  align-items: center;
  background: #152130;
}
.footer .icons i {
  font-size: 30px;
  color: #fff;
}
/* footer end  */
